#u1145
{
	border-style: none;
	border-color: transparent;
	background-color: #2d455f;
	position: relative;
}

#u1145_align_to_page,#u1147
{
	position: relative;
}

#u1149
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1150-5
{
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u1150-2
{
	color: #ED1C24;
}

