
table {
  width: 100%;
  max-width: 600px;
  border: 1px solid #D8D8D8;
  margin: 50px auto;
  background: none;
}

th {
  height: 84px;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  /*border: 1px solid #38678f;*/
  background:  #2d455f;
}

td {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  outline: none;
  width: 100px;
  height: 40px;
}