<div class="wrapper" id="contacto">
	<h1 style="margin-top:0; padding-top:100px; color:white;"> Endoperio, Clinica Dental. </h1> 
	<h2 style="color:#f2f2f2;">  Morelia Michoacan México </h2> 
	<a href="http://www.facebook.com"> <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-20.png"> </a>
	<a href="http://www.twitter.com">  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-20.png"> </a>
	<a href="http://www.linkedin.com"> <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-20.png"> </a>
	<br><br>

</div>