<div class="wrapper">
	<div id="left"><p>Llamanos: <span>(443) 3-248-008 </span> <!--Urgencias <span> 044 443 114 4047 </span--> ó contactanos a <span>contacto@endoperio.com.mx</span> </p></div>
	<div id="right"> <p>Horario: <span> Lunes a viernes de 9 am a 2pm y de 4pm a 8pm</span></p></div>
</div>
<div class="menu"> 
	<div class="wrapper">
		<a href="index.php"> <img src="http://endoperio.wbx.technology/images/endoperio-logo.png"></a>
    	<nav class="nav-collapse">
			<ul><a href="servicios.php">Servicios</a></ul>
			<ul><a href="index.php#section3">Equipo</a></ul>
			<ul><a href="blog.php">Blog</a></ul>
			<ul><a href="index.php#contacto">Contacto</a></ul>
		</nav>
	</div>
</div>

