<div class="wrapper">
	

	<div id="div">
		<h1>Nosotros</h1><hr>
		
		<p>Somos un Centro Dental que cuenta con la experiencia del Dr. Alejandro González Merlo Cirujano Dentista Endoperiodoncista. Tenemos los equipos mas modernos en el estado de Michoacán y personal altamente calificado al servicio de tu Salud Bucal.
		<br><br>Además contamos con cámaras intraorales, equipos ultrasónicos, radiología digital, etc. Somos un equipo de trabajo, constituido por personal altamente calificado, y con el único propósito de Brindarte de manera cordial, la mejor atención.</p>	

	</div>
	<div id="div">
		<h1>Soluciones</h1><hr>
		<p>Si tiene algún problema bucal tenemos servicios especializados que lo resolveran, si eres doctor y buscas mantenerte actualizado pregunta por nuestros cursos y talleres.</p><br>
		<div id="point"></div><p> Endodoncia </p>
		<div id="point"></div><p> Periodoncia </p>
		<div id="point"></div><p> Endoperiodoncia </p>
		<div id="point"></div><p> Rehabilitación bucal </p>
		<div id="point"></div><p> Cirugía oral</p>
	</div>
	<div id="div" class="last-div">
		<h1>Horario</h1><hr>
		<p>Abrimos en un horario accesible para que podamos atenderte en el horario que mas te convenga. </p>
		<table>
			<tr>
				<td id="span"><p>Lunes</p></td>
				<td id="nospan"><p>9am a 2pm / 4pm a 8pm</p></td>
			</tr><tr>
				<td id="span"><p>Martes</p></td>
				<td id="nospan"><p>9am a 2pm / 4pm a 8pm</p></td>
			</tr><tr>
				<td id="span"><p>Miercoles</p></td>
				<td id="nospan"><p>9am a 2pm / 4pm a 8pm</p></td>
			</tr><tr>
				<td id="span"><p>Jueves</p></td>
				<td id="nospan"><p>9am a 2pm / 4pm a 8pm</p></td>
			</tr><tr>
				<td id="span"><p>Viernes</p></td>
				<td id="nospan"><p>9am a 2pm / 4pm a 8pm</p></td>
			</tr><tr>
				<td id="span"><p>Sabado</p></td>
				<td id="nospan"><p>9am a 2pm</p></td>
			</tr>

		</table>
	</div>
</div>