<div class="wrapper">
	
	<br><br><h1>Nuestros servicios</h1><hr>


	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/retainer-64.png">
		<div id="text"> 
			<h2>Pr&oacute;tesis</h2>
			<p>Las pr&oacute;tesis son aparatos cuya finalidad es suplir las piezas dentarias perdidas o bien mejorar la estetica del paciente. <br> Se pueden utilizar protesis fijas que e coloca cementada sobre las propias &oacute; pr&oacute;tesis removible... <br><br><a href="servicio_individual.php">Leer más</a></p>
		</div>
	</div>
	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/denture-64.png">
		<div id="text"> 
			<h2>Rehabilitac&oacute;n oral</h2>
			<p>Con esta especialidad se busca restituir mediante aparatos prot&eacute;sicos la funci&oacute;n de la masticaci&oacute;n ... <br><br><a href="servicio_individual.php">Leer más</a></p>
		</div>
	</div>
	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/repair-64.png">
		<div id="text"> 
			<h2>Ortodoncia</h2>
			<p>Mediante la ortodoncia, obtendremos resultados est&eacute;ticos y funcionales en la posici&oacute;n de los dientes. El tratamiento se puede ser Preventivo o Correctivo ... <br><br><a href="servicio_individual.php#">Leer más</a></p>
		</div>
	</div>
	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/crown-64.png">
		<div id="text"> 
			<h2>Implantes</h2>
			<p>Es la nueva tecnología que nos brinda la posibilidad de colocar de nuevo dientes en zonas donde se realizaron extracciones. Esto mediante tornillos de titanio fijos al hueso de los maxilares.<br>Los implantes dentales son piezas con forma y tamaño de una raíz dentaria, fabricados de titanio de alta purez.... <br><br><a href="servicio_individual.php#">Leer más</a></p>
		</div>
	</div>
	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/dentist-64.png">
		<div id="text"> 
			<h2>Cirugía Oral</h2>
			<p>Esta se encarga de todos los procedimientos quirúrgicos en la cavidad bucal, como son: extracción de terceros molares, dientes retenidos, lesiones de la mucosa oral, apicectomías, anomalías en frenillo, encía, glándulas salivales,etc.... <br><br><a href="servicio_individual.php#">Leer más</a></p>
		</div>
	</div>
	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/Periodontitis-64.png">
		<div id="text"> 
			<h2>Endodoncia</h2>
			<p>La endodoncia es la rama de la odontología que se encarga del tratamiento de la pulpa dental.... <br><br><a href="#">Leer más</a></p>
		</div>
	</div>
		<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/Implants-64.png">
		<div id="text"> 
			<h2>Periodoncia</h2>
			<p>Es la rama de la odontología que se encarga del estudio y tratamiento de los tejidos de sostén de los dientes. Al conjunto de tejidos se le llama Periodonto.... <br><br><a href="#">Leer más</a></p>
		</div>
	</div>
	<div class="service">
		<img src="https://cdn3.iconfinder.com/data/icons/dental-3/500/nano-64.png">
		<div id="text"> 
			<h2>Endoperiodontología</h2>
			<p>Es la rama de la odontología que se encarga del estudio y tratamiento de los tejidos de sostén de los dientes. Al conjunto de tejidos se le llama Periodonto.... <br><br><a href="#">Leer más</a></p>
		</div>
	</div>
</div>